#
# Defaults for ringserver
#

# Settings for installing ringserver software
# -------------------------------------------
# dir : directory of ringserver (name when untarred)
# hash : hash of tarball to verify download
# install : top level root to install 'dir' to
# url : location of tarball of ringserver software
#
# OVERRIDE per instance from pillar with 'ringserver:lookup' dict
#
{% set ringserver = salt['pillar.get']('ringserver:lookup', {
    'dir': 'ringserver-2014.269',
    'hash': 'md5=95237d068fbd0ce6f3d0dc179a70a64d',
    'install': '/opt',
    'url': 'https://seiscode.iris.washington.edu/attachments/download/595/ringserver-2014.269.tar.gz',
}, merge=True) %}

#
# Contents of ring.conf from a pillar
# -----------------------------------
# name: Full path of ring.conf config file to install/use
#
# settings: dict of 'ring.conf' parameters to include in file
#
# supervisor : dict of supervisor settings
#   configfile : path to supervisor config file
#   name : name of supervisor program
#   user : user to run process as
#   log : dir to store stdout/stderr logs
#
# OVERRIDE per instance from pillar with 'ring_conf' dict
#
{% set ring_conf = salt['pillar.get']('ring_conf', {
    'name': '/etc/opt/ring.conf',
    'settings': {},
    'supervisor': {
        'configfile': '/etc/supervisor/conf.d/ringserver.conf',
        'name': 'ringserver',
        'user': 'root',
        'log': '/var/opt'
    }
}, merge=True) %}

